---
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Hero from '@/components/Hero.astro'
import { Picture } from 'astro:assets'
import defaultProf from '@/images/profile_img.jpg'
const allNews = await getCollection('news')
const allNewsSorted = allNews.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
const firstNewsList = allNewsSorted.slice(0, 5)

const allPosts = await getCollection('stories')
for (const post of allPosts) {
  const { remarkPluginFrontmatter } = await post.render()
  post.data.minutesRead = remarkPluginFrontmatter.minutesRead
}
const allPostsSorted = allPosts.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
const firstPostsList = allPostsSorted.slice(0, 6)
---

<Layout>
  <Hero />
  <div class="o-center c-cnt-wrap u-insert-center u-space-clamp">
    <h2 class="c-sec-heading u-txt-ctr u-fnt-en u-txt-thn">Information</h2>
    <ul class="o-stack u-insert-stack u-space-m u-mb-l">
      {
        firstNewsList.map((news) => (
          <li class="o-sidebar u-flx-y-b">
            <time
              class="c-content-l u-fnt-en u-txt-thn"
              datetime={new Date(news.data.date)
                .toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' })
                .replaceAll('/', '-')}
            >
              {new Date(news.data.date)
                .toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' })
                .replaceAll('/', '.')}
            </time>
            <a class="c-news-link c-content-l u-txt-l" href={`/news/${news.slug}/`} data-astro-prefetch="tap">
              {news.data.title ? news.data.title : 'お知らせ'}
            </a>
          </li>
        ))
      }
    </ul>
    <a
      href="/news/"
      data-astro-prefetch="tap"
      class="o-box c-more-btn c-content-l u-dsp-flx u-py-s u-px-m u-flx-y-ctr u-mx-auto"
    >
      これまでのお知らせ
      <svg class="u-ml-s" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
          fill="currentColor"></path>
      </svg>
    </a>
  </div>
  <div class="o-center u-insert-center u-space-clamp">
    <h2 class="c-sec-heading u-txt-ctr u-fnt-en u-txt-thn">What's New</h2>
    <ul class="o-grid :tri u-mb-l">
      {
        firstPostsList.map((post) => (
          <li>
            <a
              class="o-stack c-card-link u-insert-stack u-space-m"
              href={`/stories/${post.data.category.slug}/${post.slug}/`}
              data-astro-prefetch="tap"
            >
              <Picture
                pictureAttributes={{ class: 'o-frame js-cnt-v-auto' }}
                src={post.data.image as any}
                width={post.data.image.width / 2}
                height={post.data.image.height / 2}
                widths={[240, 480, 540, 720, 1024, 1440, post.data.image.width / 2]}
                sizes={`(max-width: 360px) 240px, (max-width: 520px) 480px, (max-width: 720px) 540px, (max-width: 960px) 768px, (max-width: 1280px) 1024px, (max-width: 1536px) 1440px, ${post.data.image.width / 2}px`}
                formats={['avif', 'webp']}
                fetchpriority="low"
                alt=""
              />
              <span class="c-card-link__detail">
                <Picture
                  pictureAttributes={{ class: 'o-frame :sq :r js-cnt-v-auto' }}
                  src={defaultProf}
                  formats={['avif', 'webp']}
                  fetchpriority="low"
                  alt=""
                />
                <span class="o-stack u-insert-stack u-space-none">
                  <span class="c-content-l u-txt-trim :twoline">
                    {post.data.title ? post.data.title : '名称未設定'}
                  </span>
                  {post.data.category.label && (
                    <span class="o-box c-suppl-l c-cat-label u-px-xs u-my-s">{post.data.category.label}</span>
                  )}
                  <span class="c-label-l u-txt-sec">長谷川 雄治</span>
                  {post.data.date && (
                    <span class="c-suppl-l u-txt-sec">
                      読了見込
                      <span class="u-ml-xs u-fnt-en">{post.data.minutesRead.toString().replace(/\D/g, '')}</span>分・
                      <time
                        class="js-time-ext"
                        datetime={new Date(post.data.date)
                          .toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' })
                          .replaceAll('/', '-')}
                      >
                        <span class="u-fnt-en">
                          {new Date(post.data.date)
                            .toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' })
                            .replaceAll('/', '.')}
                        </span>
                      </time>
                    </span>
                  )}
                </span>
              </span>
            </a>
          </li>
        ))
      }
    </ul>
    <a
      href="/stories/"
      data-astro-prefetch="tap"
      class="o-box c-more-btn c-content-l u-dsp-flx u-py-s u-px-m u-flx-y-ctr u-mx-auto"
    >
      記事一覧
      <svg class="u-ml-s" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
          fill="currentColor"></path>
      </svg>
    </a>
  </div>
</Layout>
