---
import '@/styles/styles.scss'
import Header from '@/includes/Header.astro'
import Footer from '@/includes/Footer.astro'
import Breadcrumb from '@/components/Breadcrumb.astro'
import setting from '@/config/setting.json'
import JsonLd from '@/components/JsonLd.astro'

const GTM = import.meta.env.PUBLIC_GTM || 'GTM-XXXXXXX'
const GtmScript = `
  window.dataLayer = window.dataLayer || [];
  window.gtag = function gtag() {
    dataLayer.push(arguments);
  };
  gtag('js', new Date());
  gtag('config', '${GTM}');
`
const canonical = new URL(Astro.url.pathname, Astro.site).href

const {
  title = '',
  pageType = '',
  catLabel = '',
  description = '',
  keywords = [],
  imgUrl = '',
  imgSq = '',
  imgW = '',
  imgH = '',
  date = '',
  update = '',
} = Astro.props
const metaDesc = description ? description : setting.site.description
const metaKey = [...setting.site.keywords, ...keywords].filter(
  (keyword, index, self) => keyword.trim() !== '' && self.indexOf(keyword) === index,
)

let robots: string

switch (pageType) {
  case 'notFound':
    robots = 'noindex, nofollow, max-image-preview:large'
    break
  case 'archive':
  case 'paged':
    robots = 'noindex follow, max-image-preview:large'
    break
  default:
    robots = 'index, follow, max-image-preview:large'
    break
}

const ogpURL = imgUrl ? new URL(imgUrl, Astro.site).href : new URL('/images/ogp.png', Astro.site).href
const ogpImgw = imgW || 1200
const ogpImgh = imgH || 630
---

<!doctype html>
<html lang="ja">
  <head
    prefix={`og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ${pageType === 'single' ? 'article' : 'website'}: http://ogp.me/ns/${pageType === 'single' ? 'article' : 'website'}#`}
  >
    <script is:inline type="text/partytown" src={`https://www.googletagmanager.com/gtag/js?id=${GTM}`}></script>
    <script is:inline type="text/partytown" set:html={GtmScript} />
    <title>{title ? `${title} | ${setting.site.title}` : setting.site.title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    {import.meta.env.PUBLIC_PINV && <meta name="p:domain_verify" content={import.meta.env.PUBLIC_PINV} />}
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="keywords" content={metaKey.join(', ')} />
    <meta name="description" content={metaDesc} />
    <meta name="robots" content={robots} />
    <link rel="canonical" href={canonical} />
    <meta name="author" content={setting.company.owner} />
    <link rel="author" href={new URL(setting.company.url).href} />
    <meta name="creator" content={setting.company.owner} />
    <meta name="publisher" content={setting.company.name} />
    <meta name="theme-color" content={setting.site.themecolor} />
    <link rel="manifest" href={new URL('/manifest.json', Astro.site).href} />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/pwa/icons/icon-180x180.png" sizes="180x180" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="/pwa/icons/icon-180x180.png" sizes="180x180" type="image/png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content={setting.site.title} />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta property="og:title" content={title ? title : setting.site.title} />
    <meta property="og:description" content={metaDesc} />
    <meta property="og:url" content={canonical} />
    <meta property="og:site_name" content={setting.site.title} />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:image" content={ogpURL} />
    <meta property="og:image:width" content={ogpImgw} />
    <meta property="og:image:height" content={ogpImgh} />
    <meta property="og:type" content={pageType === 'single' ? 'article' : 'website'} />
    {pageType === 'single' && date && <meta property="article:published_time" content={date} />}
    {pageType === 'single' && update && <meta property="article:modified_time" content={update} />}
    {pageType === 'single' && <meta property="article:author" content={setting.facebook.author} />}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={setting.twitter.site} />
    <meta name="twitter:site:id" content={setting.twitter.siteId} />
    <meta name="twitter:creator" content={setting.twitter.creator} />
    <meta name="twitter:creator:id" content={setting.twitter.creatorId} />
    <meta name="twitter:title" content={title ? title : setting.site.title} />
    <meta name="twitter:description" content={metaDesc} />
    <meta name="twitter:image" content={ogpURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <Header />
    <main class="u-mb-2xl">
      <slot />
    </main>
    <Breadcrumb title={title} pageType={pageType} catLabel={catLabel} />
    <Footer />
    <script is:inline>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('https://www.kamenwriter.com/sw.js').then(
            function (registration) {
              console.log('My ServiceWorker registed.', registration.scope)
            },
            function (err) {
              console.log('My ServiceWorker error.', err)
            },
          )
        })
      }
    </script>
    <JsonLd
      title={title}
      pageType={pageType}
      catLabel={catLabel}
      imgPath={ogpURL}
      imgW={ogpImgw}
      imgH={ogpImgh}
      description={description}
      date={date}
      update={update}
    />
  </body>
</html>
